#list-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.settings {
  display: flex;
  justify-content: center;
}

.settings > form {
  display: flex;
  align-items: center;
}

.mui-input {
  margin: 1rem;
}
