#movie-card {
  width: 15rem;
  height: auto;
  margin: 2rem;
}

.action-button {
  margin: 0.25rem;
}

#rating-and-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#card-info {
  min-height: 9rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

