#modal-overlay {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

#modal-content {
  width: 80%;
  height: 80%;
  margin: 5% auto;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  transition: transform 0.5s ease-in-out;
  background-color: white;
  overflow: hidden;
  position: relative;
}

#background {
  border-radius: inherit;
  opacity: 0.2;
  position: absolute;
  align-self: center;
  min-width: 100%;
  min-height: 100%;
  height: auto;
}

#close {
  z-index: 2;
  color: #aaa;
  float: right;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1rem;
  align-self: flex-end;
}

#close:hover,
#close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#movie-details {
  z-index: 1;
  display: flex;
  align-items: center;
  height: 90%;
}

#poster-panel {
  display: flex;
  float: left;
  padding: 2rem;
  width: 50%;
  justify-content: center;
  align-items: center;
}

#poster {
  max-width: 100%;
  max-height: 40rem;
}

#info-wrapper {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem;
}

#trailer-panel {
  display: flex;
  justify-content: center;
}

#backdrop {
  height: 20%;
}

@media (max-width: 800px) {
  #movie-details {
    flex-direction: column;
    overflow-y: auto;
  }
  #poster-panel,
  #info-wrapper {
    width: 90%;
  }
}
